body {
    background: url('/css/distribuidores/kolorymaroka/background.jpg') left top no-repeat;
}

h1, h3, h4, .modal-body label, .modal-body th, .modal-body a {
    color: #A83105 !important;
}

.szd-budget-btn, .szd-send-btn {
    background-color: #A83105;
}

#budget-form input, #budget-form textarea {
    border: 1px solid #A83105;
}

.copyright {
    display: none !important;
}
